<div class="order-bump-product template-1" 
     data-product-id="{{PRODUCT_ID}}" 
     data-discount-type="{{DISCOUNT_TYPE}}" 
     data-discount="{{DISCOUNT}}" 
     data-quantity="{{QUANTITY}}">

    <img src="{{IMAGE}}" alt="{{PRODUCT_NAME}}" />
    <div class="custom-info">
        <p>{{PRODUCT_NAME}}</p>
        <p class="custom-price">{{PRICE}}</p>
        <p class="product-qty">Qty: {{QUANTITY}}</p>
        <button type="button" class="add-to-cart" data-product-id="{{PRODUCT_ID}}">Add</button>
    </div>
</div>
